@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme inline { --font-sans: var(--font-geist-sans); }
* { border-color: rgb(228 228 231); }
html { scroll-behavior: smooth; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif; }
button, a { -webkit-tap-highlight-color: transparent; }
